* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: black;
}

.piano {
    position: absolute;
    left: 20%;
    height: 700px;
    width: 60%;
    display: flex;
    justify-content: center;
}

.whiteKey {
    width: 14%;
    height: 100%;
    background-color: white;
    border-left: 2px solid black;
}

.blackKey {
    width: 8%;
    height: 60%;
    margin-left: -4%;
    margin-right: -4%;
    background-color: black;
    z-index: 1; 
}